$header: #292929;
$footer: #292929;
$background-gray: linear-gradient(217deg, rgba(3, 3, 3, 0.8), rgba(0, 2, 30, 0.35) 70.71%),
                  linear-gradient(127deg, #1d1d1d, rgba(0, 0, 0, 0.3) 70.71%),
                  linear-gradient(336deg, black, rgba(0, 0, 0, 0.51) 70.71%);
$white: #d4d4d4;
$lightblue: #749499;
$link: #00adff;
$link-hovered: #006aff;
