@import "colors";

.home {
  height: 100%;

  .me {

    .me-img {
      float: left;
      height: 10rem;
      margin-right: 2rem;
      margin-bottom: 2rem;
    }

    .short-desc-me {
      h2 {
        font-size: 2rem;
        font-weight: bold;
        text-decoration: underline;
        margin-bottom: 1rem;
        color: lightblue;
      }

      p {
        color: $white;
        font-size: 1.2rem;
      }
    }
  }
}
